.container{
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    gap: 28%;
    align-items: center;
}
.link{
    color: inherit;
    text-decoration: none;
    color: #FF6F61;
}
.link:hover{
    color: #E65A4F;
}